version: "3.7"

volumes:
  laravel-storage:

services:
  back-web:
    build:
      context: ./docker
      dockerfile: nginx_back/Dockerfile.production
      # args:
      #   - DOMAIN=${DOMAIN}
    volumes:
      - php-fpm-socket:/var/run/php-fpm
      # 画像やファイルなど、php 以外は nginx が直接扱うので、nginx にもbackendをマウントする
      - ../backend/public:/work/backend/public
      - ../backend/storage:/work/backend/storage
      # - ./docker/nginx_back/${DOMAIN}:/etc/letsencrypt/live/${DOMAIN}
    depends_on:
      - server
    ports:
      - 82:80
      - 443:443
    restart: always

  server:
    build:
      # ビルドコンテキストを使うと、dockerfileでCOPY等する際の相対パスがdoker-compose.ymlファイルからの相対パスになる
      context: ./docker
      dockerfile: php/Dockerfile.production
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
        - GOOGLE_API_KEY=${GOOGLE_API_KEY}
        - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY} 
        - APP_URL=${APP_URL} 
        - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
        - MAIL_MAILER=${MAIL_MAILER}
        - MAIL_HOST=${MAIL_HOST}
        - MAIL_PORT=${MAIL_PORT}
        - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
        - MAIL_USERNAME=${MAIL_USERNAME}
        - MAIL_PASSWORD=${MAIL_PASSWORD}
        - MAIL_ENCRYPTION=${MAIL_ENCRYPTION}
        - DB_CONNECTION=mysql
        - DB_HOST=${MYSQL_DB_HOST}
        - DB_DATABASE=${MYSQL_DATABASE}
        - DB_USERNAME=${MYSQL_USER}
        - DB_PASSWORD=${MYSQL_PASSWORD}

    volumes:
      - laravel-storage:/work/backend/storage
    restart: always